@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-900: #231e6b;
  --primary-800: #2c2588;
  --primary-700: #3d36a6;
  --primary-600: #4c45b5;
  --primary-500: #5b53d0;
  --primary-400: #6d6dd5;
  --primary-300: #969ced;
  --primary-200: #e0e4fa;
  --primary-100: #f5f7ff;
  --gray-900: #171528;
  --gray-800: #3f3d5c;
  --gray-700: #6b6892;
  --gray-600: #9391b1;
  --gray-500: #b1afca;
  --gray-400: #cccbdc;
  --gray-300: #d8d7e4;
  --gray-200: #eaeaf1;
  --gray-100: #f9f9fb;
  --shadow-double: 0px 1px 2px 0px rgba(0, 0, 0, 0.24), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}